# Nixtla

[nikstla] (noun, nahuatl) Period of time
> Machine learning for time series forecasting.

## Install

`pip install nixtla`

## How to use

Import a dataset and NBEATS model

In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

from nixtla.data.datasets.tourism import Tourism, TourismInfo
from nixtla.losses.numpy import mape

In [3]:
directory = Path('experiments/tourism/')

In [11]:
losses = []
for group_name in TourismInfo.groups:
    group = TourismInfo.get_group(group_name)
    data = Tourism.load(directory='data', group=group.name)
    
    
    y_hat = pd.read_pickle(directory / f'{group_name}_seed=0.p')
    y_hat = y_hat['y_hat'].values.reshape((group.n_ts, group.horizon))

    y = data.ts_tensor[:, 0, -group.horizon:]
    loss = mape(y, y_hat)
    loss = pd.DataFrame({f'MAPE': loss}, index=[group_name])
    losses.append(loss)
losses = pd.concat(losses, 0)

Processing dataframes ...
Creating ts tensor ...
Processing dataframes ...
Creating ts tensor ...
Processing dataframes ...
Creating ts tensor ...

In [16]:
data = Tourism.load(directory='data', group='Quarterly')

Processing dataframes ...
Creating ts tensor ...

In [21]:
data.ts_tensor[1][0][-8:]

array([ 86979., 104594.,  83742., 115734.,  99216., 136031.,  95582.,
       123212.])

In [22]:
y_hat = pd.read_pickle(directory / 'Quarterly_seed=0.p')

In [24]:
y_hat.query('unique_id=="q10"')

,unique_id,ds,y_hat_0,y_hat_1,y_hat_2,y_hat_3,y_hat_4,y_hat_5,y_hat_6,y_hat_7,...,y_hat_51,y_hat_52,y_hat_53,y_hat_54,y_hat_55,y_hat_56,y_hat_57,y_hat_58,y_hat_59,y_hat
8,q10,2007-03-31,83766.140625,80981.484375,84950.375000,85626.507812,86106.718750,81050.460938,81228.835938,83602.609375,...,84652.375000,84742.031250,88370.578125,83228.015625,83154.531250,87068.929688,82503.734375,89115.242188,85238.734375,85660.054688
9,q10,2007-06-30,90911.039062,91613.671875,87286.226562,82277.250000,85950.078125,82491.234375,82586.492188,85181.125000,...,80296.500000,81206.320312,83415.265625,83367.757812,81947.296875,82678.828125,78640.156250,85310.750000,88594.187500,84981.343750
10,q10,2007-09-30,81278.335938,81139.570312,85797.546875,82000.117188,82822.437500,92458.531250,85629.648438,82214.218750,...,85877.351562,83669.210938,78606.484375,81368.281250,81945.960938,82864.390625,80086.007812,86399.250000,76922.218750,83162.109375
11,q10,2007-12-31,99713.875000,89028.468750,87227.007812,96352.375000,95394.843750,90765.351562,84469.703125,89856.507812,...,95455.078125,97749.843750,97122.804688,93650.679688,95487.203125,89989.203125,94742.867188,95852.484375,93850.671875,92151.859375
12,q10,2008-03-31,76756.632812,78098.078125,73148.570312,78860.289062,68971.984375,70626.343750,76097.250000,78470.312500,...,80002.148438,80746.945312,72407.539062,81601.484375,80332.625000,70690.351562,80711.796875,81990.390625,85016.570312,78392.562500
13,q10,2008-06-30,94018.562500,80041.046875,81923.851562,68274.617188,68065.273438,80358.921875,83772.460938,78993.687500,...,80121.929688,85107.312500,80233.375000,84431.406250,82201.617188,85993.843750,82039.484375,86922.460938,89840.710938,83474.906250
14,q10,2008-09-30,95038.632812,94387.687500,91982.773438,84279.367188,77801.039062,86259.960938,80764.054688,80079.351562,...,95066.843750,86692.781250,87548.437500,97368.148438,95360.351562,89565.226562,84298.234375,91951.492188,93088.578125,87747.851562
15,q10,2008-12-31,66445.679688,87499.218750,97734.085938,93063.078125,78860.648438,93343.171875,87449.718750,84096.632812,...,99306.773438,82825.898438,75828.226562,94432.726562,89421.343750,83900.726562,83319.937500,92230.703125,80081.773438,83798.703125

In [12]:
losses

                MAPE
Yearly     21.304659
Quarterly  19.858842
Monthly    28.844142

In [7]:
losses

          seeds_0    seeds_1    seeds_2    seeds_3
Yearly  21.304659  21.240411  22.273394  22.405276

In [4]:
losses

         seeds_0    seeds_1    seeds_2    seeds_3
Yearly  21.94192  22.371978  22.273393  22.405276